server:
  port: 8080
  error:
    include-message: always
    include-stacktrace: always
    include-exception: true

spring:
  config:
    import:
      - optional:file:.env[.properties]
  application:
    name: assignment
  profiles:
    include: oauth2
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true
    open-in-view: false
  swagger:
    base-url: http://localhost:8080

security:
  jwt:
    secret: ${JWT_SECRET}
    expires-in-seconds: ${JWT_EXPIRES_IN_SECONDS}
    refresh-expires-in-seconds: ${JWT_REFRESH_EXPIRES_IN_SECONDS}

logging:
  level:
    org.sopt: debug
    org.springframework.web: info

springdoc:
  swagger-ui:
    path: /swagger-ui.html
  api-docs:
    path: /api-docs
  override-with-generic-response: false

