server:
  port: 8080
  error:
    include-message: always
    include-stacktrace: always
    include-exception: true

spring:
  application:
    name: assignment
  datasource:
    url: jdbc:mysql://localhost:3306/assignment
    username: root
    password: rb87568756
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
    show-sql: true
  swagger:
    base-url: http://localhost:8080

logging:
  level:
    org.sopt: debug
    org.springframework.web: info

springdoc:
  swagger-ui:
    path: /swagger-ui.html
  api-docs:
    path: /api-docs
  override-with-generic-response: false

member:
  file:
    path: data/members.csv


