server:
  port: 8080
  error:
    include-message: never
    include-stacktrace: never
    include-exception: false

logging:
  level:
    org.sopt: debug
    org.springframework.web: info

springdoc:
  swagger-ui:
    path: /swagger-ui.html
  api-docs:
    path: /api-docs

member:
  file:
    path: data/members.csv
